* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    color: #000;
    font-family: 'Bree Serif', serif;
    font-size: 16px;
}

/*#responsivo {
    display: block;
    color: #000;
    text-align: center;
    padding: 15px 30px;
    margin: 15px 0;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s;
}

#responsivo:hover {
    background-color: #959973;
    color: azure;
}*/

.menu {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-weight: bold;
    justify-content: center;
}

li {
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
}

a {
    display: block;
    padding: 25px 40px;
    margin: 15px 0;
    text-decoration: none;
    color: #000;
}

a:hover {
    background-color: #959973;
    color: azure;
    border-radius: 30px;
}

img {
    align-self: center;
    width: 400px;
    transition: all 0.9s;
}

img:hover {
    scale: 1.1;
}

section.texto {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    height: 100%;
}

.livro {
    display: flex;
    height: calc(100% - 96px);
    margin-left: 100px;
    background-color: #959973;
}

.texto-sobre {
    width: 50%;
    margin: 0 50px;
    padding-top: 100px;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 32px;
}

p {
    text-align: justify;
    padding-bottom: 15px;
    font-size: 22px;
}

/*SDG*/